.h3_cartTitle{
    font-size: 30px;
    padding: 15px 0 10px 20px;
}

.ul_cartList{
    list-style: none;
}

.p_nombre {
    padding-right: 40px;
    width: 230px;
}

.p_precio{
    padding-right: 15px;
    text-align: right;
}

.p_cantidad, .p_borrar{
    padding-right: 40px;
    width: 40px;
    text-align: right;
}

.p_borrar{
    cursor: pointer;
}

.div_listItem{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.p_total{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(22, 121, 121);
    margin-top: 80px;
}

.div_cartContainer{
    background-color: #fff;
    margin: 2% 25%;
    border-radius: 8px;
    padding-bottom: 20px;
}

.btn_vaciar, .btn_pago{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px 9px;
    margin: 40px 20px 30px 0;
    text-align: center;
    font-size: 18px;
}

.link_pago{
    color: white;
}

.div_btns{
    display: flex;
    justify-content: center;
}

.link_irComprar{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px 9px;
    text-align: center;
    font-size: 18px;
}

.link_pago:hover{
    color: white;
}

.link_irComprar:hover{
    color: white;
}
