/* ---------------------------------- NORMALIZAR ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: black;
  }
  
  body{
    background-color: rgb(244, 247, 250);
  }
  
  
  /* ---------------------------------- DETAILS ---------------------------------- */
  
  .div_sectionTitle{
    margin-bottom: 20px;
    padding: 3% 0 1% 2%;
  }
  
  .img_detallesPage{
    width: 20%;
    border-radius: 5px;
    border: rgb(219, 223, 223) solid 1px;
    margin-left: 40px;
  }
  
  .detailContainer{
    display: flex;
  }
  
  .textDetailContainer{
    padding-left: 5%;
    padding-top: 5%;
    font-size: 19px;
  }

  .cantSpan{
    display: inline-block;
    width: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    background-color: white;
  }  
  

  .p_precioLista{
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    padding-right: 50px;
  
  } 



  /*  -------- Cart Preview --------   */


  .div_counter{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

  }


  .h5_miCarrito{
    font-weight: bold;
  }

  .div_cartPrev{
    text-align: right;
    margin-top: 30px;
    margin-left: 50%;
    padding: 2% 4%;
    background-color: white;
    border-radius: 8px;
  }

  .ul_cartPrev{
    list-style: none;
  }

  .span_cantidad{
    display: inline-block;
    margin-right: 8px;
  }

  .link_carrito{
    font-weight: bold;
    text-decoration: underline;
  }
  
  
  @media (max-width: 768px){
    .img_detallesPage{
        max-width: 50vw;
    }
  
    .detailContainer{
        display: block;
    }
  
    .descripcion{
        text-align: left;
    }
    .textDetailContainer{
        padding: 20px 20px 0 40px;
    }

    .p_precioLista{
      text-align: left;
    }

    .div_cartPrev{
      text-align: left;
      margin-left: 0;
      margin-right: 50%;
    }

  }
  
  