/* NORMALIZAR */
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

body{
  background-color: rgb(213, 221, 228);
}


/* NAV BAR */


#siteTitle{
  font-family: 'Satisfy', cursive;
  padding-right: 40px;
}

.nav_headerContainer{
  background-color: #60c3c3;
}

.nav-link{
  font-weight: bold;
}

.active{
  text-decoration: underline;
}


#imgDiv{
  text-align: center;
}

.h1_greeting{
  font-size: 26px;
  padding: 10px 0 50px 10px; 
  
}

.ad-img{
  max-width: 70vw;
}

.iconoCarrito{
  font-size: 23px;
  position: absolute;
  top: 25px;
  right: 30px;
  display: block;
}

.prdImg{
  max-width: 200px;
  padding-bottom: 20px;
}

.articuloContainer{
  padding: 20px;
}

.card-title{
  padding: 5px 15px;
  font-weight: bold;
}

.card_precio{
  font-weight: bold;
}


.cantSpan{
  display: inline-block;
  width: 100px;
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
  background-color: white;
}

@media (max-width:768px){
  
  .iconoCarrito{
    top: 20px;
    right: 85px;
  }
}

/* PAGINA DETALLES */


/* .div_sectionTitle{
  margin-bottom: 20px;
  width: 90vw;
  padding: 2% 0 1% 0;
  border-radius: 5px;
}

#img_detallesPage{
  max-width: 15vw;
}

#detailContainer{
  display: flex;
}

#textDetailContainer{
  padding-left: 10%;
}

@media (max-width: 768px){
  #img_detallesPage{
      max-width: 50vw;
  }

  #detailContainer{
      display: block;
  }

  #descripcion{
      text-align: left;
  }
  #textDetailContainer{
      padding: 20px 20px 0 0;
  }
}
 */
