/* ---------------------------------- NORMALIZAR ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: black;
  }
  
  body{
    background-color: rgb(244, 247, 250);
  }
  
  
  /* ---------------------------------- MENU ---------------------------------- */

  
  .container{
    text-align: center;
  }
  
  .menuIcon{
    width: 70px;
    padding-top: 10px;
  }
  

  .card_img{
    height: 200px;
    width: 90%;
    padding-bottom: 20px;
    margin-left: 5%;
  }
  
  .articuloContainer{
    padding: 20px;
  }
  
  .card-title{
    padding: 5px 15px;
    font-weight: bold;
  }

  .card-text{
    height: 50px;
  }
  
  .card_precio{
    font-weight: bold;
  }
  